@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* The background image */
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background: url('../images/polina-rytova-Jw7XWNoYDM0-unsplash.jpg');
    background-size: 300em;
    background-position: 20% 20%;
    background-repeat: no-repeat;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background: none;
    position: fixed; /* Set the navbar to fixed position */
    top: 0%; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-size: 1em;
    font-weight: 200;
    animation: fadeIn 3s forwards;
} 
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: .6em 1.2em;
    text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: rgb(255, 254, 254);
    opacity: .5;
    color:black;
}
.main {
    color: white;
    font-size: 5em;
    font-weight: 200;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;    
    }
    to {
        opacity: 1;
    }
}

@media (max-width:1000px) {
    .main {
        font-size: 4em;
    }
    .navbar {
        font-size: .9em;
    }
}

@media (max-width:813px) {
    .main {
        font-size: 3em;
    }
    .navbar {
        font-size: .7em;
        top: 0%;
    }
}